:root {
    /* --light-theme-primary-color: #1EAFED; */
    --light-theme-primary-color: #1597E5;
    --light-theme-background-color: #EFEFEF;
    --light-theme-secondary-color: #082032;
    --light-theme-todo-list-background: #fff;

    --dark-theme-background-color: #0F172A;
    --dark-theme-primary-color: #FEE440
}

html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*, *::after, *::before {
    font-family: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* UTILITY CLASSES */

.container {
    max-width: 960px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button { 
    cursor: pointer;
}

body.light-theme a , body.light-theme a:visited {
    color: var(--light-theme-primary-color);
}

body.dark-theme a , body.dark-theme a:visited {
    color: var(--dark-theme-primary-color);
}

body.light-theme {
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-primary-color);
}

body.dark-theme {
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-primary-color);
}

#todo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 100vh;
    width: 100%;
    text-align: center;
}

body.light-theme header.hero {
    background-color: var(--light-theme-primary-color);
    color: var(--light-theme-background-color);
}

header.hero {
    padding: 1rem;
    width: 100%;
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-main {
    margin: 1rem auto;
    width: 100%;
    max-width: 600px;
}

body.light-theme .todo-list-header, body.light-theme .todo-list-main {
    background-color: var(--light-theme-todo-list-background);

    box-shadow: 0px 0px 5px rgba(0,0,0,0.5)

}

.todos-main .todo-list-header {
    margin-bottom: 1rem;
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.todo-list-header .todo-input-element {
    padding: 0.75rem 1rem;
}

body.light-theme .btn-add-task {
    background-color: var(--light-theme-secondary-color);
    color: var(--light-theme-background-color);
}

body.light-theme .todo-list-header .todo-input-element {
    border-color: var(--light-theme-secondary-color);
    outline:none;
}

.todo-list-header .btn-add-task {
    flex: 1;
    border-left: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.todo-list-header .task-input {
    flex:4;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.todo-list-main {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding-top: 1rem;
}



.todo-list-main .todo-info .btn-clear-tasks {
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

body.light-theme .todo-list-main .todo-info .btn-clear-tasks {
    background-color: var(--light-theme-primary-color);
    color: var(--light-theme-secondary-color);
    font-weight: 550;
}

.todo-list {
    padding: 1rem 1rem 0 1rem;
}

body.light-theme .todo-list, body.light-theme .todo-info  {
    color: var(--light-theme-secondary-color);
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid ;
}

body.light-theme .todo-list li {
    border-top-color: rgba(21, 149, 229, 0.4);
}

.todo-list-main .todo-info {
    display: flex;
    margin: 0 1rem;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

body.light-theme .todo-list-main .todo-info {
    border-top: 1px solid rgba(21, 149, 229, 0.4);
}

.todo-list-footer {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.75rem;   
    display: flex;
    justify-content: space-around;
}


body.light-theme .todo-list-footer {
    background-color: var(--light-theme-secondary-color);
    color: var(--light-theme-background-color);
}

body.light-theme footer {
    background-color: var(--light-theme-primary-color);
    color: var(--light-theme-background-color);
    width: 100%;
    padding: 1rem;
    max-height: 10vh;
}